/* ---RESETS */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ---ROOT VARS */

:root {
  --bg: #e0e8ff;
  --bgSecondary: #f7f9ff;
  --primary: #382ae1;
  --shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  --headings: #1f2e55;
  --subText: #717fa6;
  --hover: #766cf1;
  --font: "Red Hat Display", sans-serif;
}

/* ---MAIN STYLES */

body {
  font-family: var(--font);
  min-height: 100vh;
  background: var(--bg);
  background-image: url(./assets/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    background-size: auto;
  }
}

main {
  width: 90vw;
  max-width: 450px;
  border-radius: 20px;
  background: white;
  box-shadow: var(--shadow);
}

/* ---HERO COMPONENT */

.illustration {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

/* ---MAIN CONTENT */

.main-content {
  padding: 45px 48px 48px 48px;

  @media only screen and (max-width: 500px) {
    padding: 32px;
  }
}

/* ---TITLE */

h1 {
  margin-bottom: 17px;
  text-align: center;
  text-transform: capitalize;
  color: var(--headings);
  font-size: 1.75rem;
  font-weight: 900;

  @media only screen and (max-width: 500px) {
    margin-bottom: 16px;
    font-size: 1.375rem;
  }
}

/* ---TEXT COMPONENT */

.about-txt {
  margin-bottom: 20px;
  color: var(--subText);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;

  @media only screen and (max-width: 500px) {
    margin-bottom: 24px;
    font-size: 0.938rem;
    line-height: 25px;
  }
}

/* ---PLANS COMPONENT */

.plan-wrapper {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 24px;
  border-radius: 11px;
  background: var(--bgSecondary);

  @media only screen and (max-width: 500px) {
    padding: 16px;
  }

  @media only screen and (max-width: 330px) {
    flex-direction: column;
    gap: 10px;
  }

  .left-wrapper {
    display: flex;
    gap: 20px;

    & img {
      width: 48px;
      height: 48px;
    }
    & h2 {
      margin-bottom: 4px;
      color: var(--headings);
      font-size: 1rem;
      font-weight: 900;
      text-transform: capitalize;
    }
    .price {
      color: var(--subText);
      font-size: 1rem;
      font-weight: 500;
    }

    @media only screen and (max-width: 500px) {
      & h2 {
        font-size: 14px;
      }
      .price {
        font-size: 14px;
      }
    }
  }

  .change-btn {
    border: none;
    background-color: transparent;
    color: var(--primary);
    font-family: var(--font);
    font-size: 0.813rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
      color: var(--hover);
    }
  }
}

/* ---BUTTONS COMPONENT */

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media only screen and (max-width: 500px) {
    gap: 24px;
  }

  .proceed-btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-radius: 11px;
    border: none;
    background-color: var(--primary);
    text-align: center;
    color: white;
    font-family: var(--font);
    font-size: 0.938rem;
    font-weight: 800;
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
      background-color: var(--hover);
    }
  }

  .cancel-btn {
    display: block;
    border-radius: 11px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: var(--subText);
    font-family: var(--font);
    font-size: 0.938rem;
    font-weight: 900;
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
      color: #a00c0c;
    }
  }
}
